*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

#container {
    padding-left: 10px;
    display: flex;
    flex-wrap: wrap;
    height: 400px;
    width: 400px;
    align-items: stretch;
    /* align-content: flex-start; */
    align-content: stretch;
    /* border: 1px solid red; */
}

.button {
  margin: 10px;
}

